<IfModule mod_rewrite.c>
    RewriteEngine On

    # Serve everything from Laravel's /public directory
    # but keep real files/dirs in the root accessible.
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

